body{
	background-color: black;
	text-align: center;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif"; 
}

.header--main {
	font-weight: normal; 
	font-size: 50px; 
	color: #FFFFFF; 
}